<!--
  Generated template for the FindPrivate page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="private">
		<ion-title>Find Private League</ion-title>
	</ion-navbar>
</ion-header>


<ion-content fixed no-padding>
	<form [formGroup]="form" (ngSubmit)="Click_Register()">
		<div class="helper-text"> Enter the League Name and<br>Password to Join League</div>
		<ion-list>
			<ion-item>
				<ion-label floating>League Name</ion-label>
				<ion-input type="text" formControlName="leagueName"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>League Password</ion-label>
				<ion-input type="text" formControlName="leaguePassword"></ion-input>
			</ion-item>
			<ion-item></ion-item>
		</ion-list>

		<div class="center-button">
			<button ion-button type="submit" [disabled]="!form.valid"> 
				Join League
			</button>
		</div>
		<div class="error-text" *ngIf="!!errorText">
			<div>{{errorText}}</div>
			<div>{{errorText2}}</div>
		</div>
	</form>
</ion-content>