page-find-private {
	.helper-text{
		padding: 50px 20px 30px 20px;
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: #333333;
		text-shadow: 1px 1px 2px white;
		font-weight: 800;
		text-align: center;
	}

	.error-text{
		padding: 10px;
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: white;
		background: #ff7c7c;
		text-shadow: 1px 1px 2px #272727;
		font-weight: 800;
		text-align: center;
		margin: 0 30px;
		border-radius: 10px;

	}

	.center-button{
		text-align: center;
	}

	.scroll-content {
		padding-bottom: 0 !important;
	}
}
