<ion-header>
    <ion-navbar color="danger">
        <ion-title text-center>
            LEAGUE SETTINGS
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="Click_Close()">
		        <ion-icon name="close"></ion-icon>
      		</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-title no-padding>
        <div class="page-title">{{ ($currentLeague | async)?.name }}</div>
    </ion-title>
	<ion-grid>
		<ion-row>
			<ion-col col-8 offset-2>
				<ion-item>
					<ion-label>Draft Date</ion-label>
					<ion-datetime displayFormat="MMM DD HH:mm" pickerFormat="MMM DD HH:mm" [(ngModel)]="myDate" (ngModelChange)="Change_Date($event)" min="2017-03-07" max="2017-03-16"></ion-datetime>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
    <ion-list [dragula]='"draftPos"' [dragulaModel]="draftUsers">
        <ion-card class="card" *ngFor="let user of draftUsers; let i=index">
            <ion-grid no-padding>
                <ion-row no-padding class="bottom-row">
                    <ion-col col-1>
                        <button ion-button icon-left clear small>
							<ion-icon name="menu"></ion-icon>
						</button>
                    </ion-col>
                    <ion-col col-5 text-center class="name">
                        {{ user.name }}
                    </ion-col>
                    <ion-col col-5 text-center class="draft">
                        draft slot : {{ i + 1 }}
                    </ion-col>
                    <ion-col col-1 class="trash" *ngIf="user.id !== ($currentLeague | async)?.creatorId">
                        <button ion-button icon-left clear small (click)="Click_DeleteParticipant(user)">
							<ion-icon name="trash"></ion-icon>
						</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-list>

</ion-content>

<ion-footer>
    <two-buttons 
		buttonRightText="Save" buttonRightIcon="filing" (buttonRightClick)="Click_Close()" 
		buttonLeftText="Add Person" buttonLeftIcon="person-add" (buttonLeftClick)="Click_AddParticipant()">
	</two-buttons>
</ion-footer>