league-admin {
    .card {
        .name {
            line-height: 2em;
            font-size: 1.3em;
            font-weight: 500;
        }
        .draft {
            line-height: 2.6em;
            font-size: 1em;
        }
        .trash {
            text-align: right;
        }
    }
    .page-title {
        text-align: center;
        font-size: 1.6em;
        text-decoration: underline;
        font-weight: 100;		
    }

    ion-footer two-buttons .button-1 {
        background-color: $dodger-blue;
    }
    ion-footer two-buttons .button-2 {
        background-color: $mine-shaft;
    }
	
    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }
    .gu-hide {
        display: none !important;
    }
    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}