<ion-content no-padding>
    <ion-row class="team-name-row">
        <ion-col class="team-name-col" col-md-6 offset-md-3 col-sm-12>
            <ion-item class="team-name">
                <ion-avatar item-left>
                    <img *ngIf="!!($user | async)?.photo" src="{{ ($user | async)?.photo }}">
                    <user-graphic *ngIf="!($user | async)?.photo" letter1="{{ ($user | async)?.name | charAt : 0}}" letter2="{{ ($user | async)?.name | charAt : 1}}" colorVal="{{ ($draftSlot | async) }}"></user-graphic>
                </ion-avatar>
                {{ ($user | async)?.name }}'s Team
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-card no-padding>
		<wrestler-list-by-weight
			[team]="($draftedTeam | async) | values | wrestlersIdsToInfo | async"
			[title]="'My Drafted Team'"
			[bgColorSlot] = "$draftSlot | async"
			(wrestlerSelect) = "Click_OpenWrestler($event)"
			(weightSelect)="Click_OpenWeight($event)">
		</wrestler-list-by-weight>
    </ion-card>
	<template [ngIf]="!($isDraftComplete | async)">
		<ion-card *ngFor="let highlight of highlightInfo" no-padding>
			<wrestler-list
				[team]="myWrestlers[highlight?.id]"
				[title]="highlight.name"
				[icon]="highlight.icon"
				[titleTextColor]="highlight.textColor"
				[titleBgColor]="highlight.color"
				(wrestlerSelect) = "Click_OpenWrestler($event)">
			</wrestler-list>
		</ion-card>
	</template>
</ion-content>