page-my-team {
    .team-name-row {
        .team-name-col {
            .team-name {				
                .item-inner {
                    font-size: 1.9em;
                    border: 0;
                    color: $mine-shaft;
                    text-transform: capitalize;
                    font-weight: 100;
                }
            }
        }
    }
    .group-grid {
        .group-row {
            text-align: center;
            padding: 4px 0;
            .title {
                font-size: 1.5em;
                font-weight: 500;
                padding: 4px 0;
                .highlight {
                    margin-left: 4px;
                }
                .name {}
            }
        }
    }
    .wrestler {
        text-align: center;
        .wrestler-card {
            min-width: 100px;
            max-width: 100px;
            border-radius: 2px;
            color: $mine-shaft-dark;
            overflow: hidden;
            margin: auto;
            padding: 10px 0;
            .weight {
                white-space: nowrap;
                font-size: .8em;
                font-weight: 500;
                border-bottom: 1px solid $silver-chalice;
            }
            .name-rank {
                background: $white;
                color: $mine-shaft;
                white-space: nowrap;
                font-size: 1em;
                font-weight: 500;
                font-family: Roboto;
                text-transform: uppercase;
                line-height: 1em;
                padding: 4px 0;
                .rank {
                    font-weight: 100;
                }
            }
            .record-school {
                background: $white;
                color: $mine-shaft;
                text-align: left;
                line-height: 1em;
                font-size: .7em;
                font-weight: 500;
                .first-name {
                    padding-left: 2px;
                }
                .record {
                    float: right;
                    padding-right: 2px;
                }
                .school {
                    text-transform: lowercase;
                    padding-left: 2px;
                }
            }
        }
    }
}