<ion-header>
    <ion-navbar color="danger">
        <ion-title>
            ADD PARTICIPANT TO LEAGUE
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="Click_Close()">
		        <ion-icon name="close"></ion-icon>
      		</button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="createForm" (ngSubmit)="Click_AddParticipant()">
        <div class="helper-text"> Add a participant to this league</div>
        <div class="helper-note"> Warning: The admin will be responsible for drafting for this user</div>
        <ion-list>

            <ion-item>
                <ion-label floating>
                    Participant's Name
                    <span class="error-text" *ngIf="formErrors.name.length > 0"> ** {{ formErrors.name }} ** </span>
                </ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <ion-item class="button-row">
                <button ion-button type="submit" [disabled]="!createForm.valid">
					Add Participant
				</button>
            </ion-item>
        </ion-list>
    </form>

</ion-content>