add-participant {
	.button-row{
		text-align: center;
	}
	.helper-text{
		padding: 50px 20px 5px 20px;
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: $mine-shaft-dark;
		text-shadow: 1px 1px 2px white;
		font-weight: 800;
		text-align: center;
	}
	.helper-note {
		padding-bottom: 15px;
		text-align: center;
		font-size: .9em;
		color: $mine-shaft;
		font-weight: 100;

	}

	.scroll-content {
		padding-bottom: 0 !important;
	}

}
