<ion-content>
    <draft-header [leagueName]="($currentLeague | async)?.name" [users]="($users | async)" [isDrafting]="($isDrafting | async)" [timeTillDraftInMS]="($timeTillDraftInMS | async)" [numberDrafted]="($numberDrafted | async)" [currentRound]="($currentRound | async)">
    </draft-header>
	<div class="all-wrestlers">
		<template ngFor let-weight [ngForOf]="allWeights">
			<div class="full-weight">
				<div class="weight-title">
					{{ weight }}
				</div>
				<ul class="wrestler-list">
					<template ngFor let-wrestler [ngForOf]="showWrestlersByWeight[weight]">
						<li class="wrestler" [ngClass]="{'selected': wrestler.selected, 'mine' : wrestler.selected?.draftedById === myId }" >
							<div *ngIf="!wrestler.selected" >
								<div class="name-rank">
									<span class="rank" *ngIf="wrestler.rank <= 16">{{ wrestler.rank}}</span>
									<span class="last-name">{{wrestler.last_name}}</span>
								</div>
								<div class="first-name-record">
									<span class="first-name">{{wrestler.first_name}}</span>
									<span class="record">{{wrestler.wins}}-{{wrestler.losses}}</span>
								</div>
								<div class="school-group">
									<span class="school">{{wrestler.school}}</span>
								</div>
							</div>
							<div *ngIf="!!wrestler.selected" class="drafted">
								<div class="name-rank selected">
									<span class="rank">{{ wrestler.rank}}</span>
									<span class="last-name">{{wrestler.last_name}}</span>
								</div>
								<div class="drafted-by ">
									<div class="color-mark draft-background-{{ wrestler.selected?.draftedByOrderSlot }}"></div>
									<span class="drafter-name">{{ wrestler.selected.draftedByName }}</span>
								</div>
							</div>

						</li>
					</template>
					<li *ngIf="!IsShowingAll(weight)" class="show-button">
						<button ion-button small icon-left (click)="Click_ShowAll(weight)">
							<ion-icon name='add'></ion-icon>
								Show All
						</button>
					</li>
				</ul>
			</div>
		</template>
	</div>
</ion-content>