follow-draft {
    .all-wrestlers {
        .full-weight {
        }
        overflow-x: scroll;
        .weight-title {
            float: left;
            padding: 4px 4px;
            font-size: 1.3em;
            margin-top: 19px;
            margin-right: 8px;
            font-weight: 800;
            color: $mine-shaft;
            @media (min-width: 320px) and (max-width: 768px) {
                font-size: 1em;
                padding: 2px 2px;
                margin: 0;
                font-weight: 500;
                line-height: 5em;
            }
        }
        ul.wrestler-list {
            display: flex;
            list-style: none;
            padding: 6px 0px;
            border-left: solid 1px $mine-shaft;
            @media (min-width: 320px) and (max-width: 768px) {
                margin: 1px 0;
            }
            li.wrestler {
                min-width: 100px;
                @media screen and (min-width: $break-large) {
                    min-width: 129px;
                }
                border-radius: 2px;
                margin: 0 3px;
                box-shadow: 2px 2px 2px $mine-shaft;
                color: $mine-shaft-dark;
                overflow: hidden;
                .name-rank {
                    white-space: nowrap;
                    padding: 3px 2px;
                    color: $mine-shaft;
                    background: $white;
                    border-bottom: 1px solid $mine-shaft;
                    position: relative;
                    .highlight {
                        top: 0;
                        right: 0;
                        position: absolute;
                        padding: 2px;
                        border-radius: 0px 4px 0px 5px;
                        width: 22px;
                        height: 22px;
                        text-align: center;
                        .icon {
                            font-size: 1.1em;
                        }
                    }
                    .rank {
                        font-size: .8em;
                        font-weight: 500;
                    }
                    .last-name {
                        font-family: Roboto;
                        font-size: 1.1em;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                .first-name-record {
                    background: $white;
                    color: $mine-shaft;
                    .first-name {
                        font-size: .8em;
                        font-weight: 500;
                        padding-left: 2px;
                    }
                    .record {
                        font-size: .8em;
                        line-height: 2.5em;
                        float: right;
                        padding-right: 2px;
                        font-weight: 500;
                    }
                }
                .school-group {
                    background: $white;
                    color: $mine-shaft;
                    white-space: nowrap;
                    .school {
                        text-transform: lowercase;
                        font-size: .8em;
                        font-weight: 300;
                        font-weight: 300;
                        padding-left: 2px;
                    }
                }
            }
            li.wrestler.selected {
                min-width: 100px;
                @media screen and (min-width: $break-large) {
                    min-width: 129px;
                }
                border-radius: 0;
				border: solid 1px $alto;
                box-shadow: none;
                font-family: Roboto;
                .drafted {
                    margin: 6px;
                    white-space: nowrap;
                    overflow: hidden;
                    .name-rank {
                        white-space: nowrap;
                        color: $mine-shaft;
                        background: $white;
						border: none;
						text-align: center;
                        .rank {
                            font-size: .8em;
                            font-weight: 100;
                        }
                        .last-name {
                            font-size: 1em;
                            font-weight: 100;
                            text-transform: lowercase;
                        }
                    }
					.drafted-by{
						.color-mark {
							width: 15px;
							height: 15px;
							margin: 6px 0 0 0;
							border-radius: 10px 3px 3px 10px;
							float: left;
						}
						.drafter-name {
							font-size: 0.8em;
							font-weight: 100;
							padding-left: 5px;
							line-height: 2.4em;
						}
					}
                }
            }
            li.wrestler.selected.mine {
                .drafted-by {
                    font-size: .8em;
                    font-weight: 300;
                }
            }
            li.show-button {
                line-height: 3.5em;
            }
        }
    }
}