<ion-row *ngIf="!!buttonText">
    <ion-col class="no-padding">
        <button ion-button [disabled]="buttonDisabled" class="disable-hover bottom-whole button" (click)="buttonClick.emit()">
				<ion-icon *ngIf="!!buttonIcon" name="{{buttonIcon}}"></ion-icon>
				{{buttonText}}
			</button>
    </ion-col>
</ion-row>