full-row-button {
		.bottom-whole{
			height: 85px;
			width: 100%;
			font-size: 2rem;
			/* text-align: center; */
			text-shadow: 2px 2px 2px black;
			/* background-color: white; */
			margin: 0;
			border-radius: 0;
			ion-icon{
				padding: 0 10px;
			}
		}
}
