<template [ngIf]="!isDraftComplete">
	<ion-title no-padding *ngIf="!isDrafting">
		<div class="page-title">{{ leagueName }}</div>
		<div class="draft-time"> draft in {{ timeTillDraftInMS | timeRemainingInHours }}</div>
	</ion-title>
	<ion-title no-padding *ngIf="isDrafting">
		<ion-grid no-padding>
			<ion-row no-padding nowrap align-items-center class="draft-row">
				<ion-col col-sm-3 col-md-3 col-lg-2 class="draft-title">
					<div class="title1">
						{{ leagueName }}
					</div>
					<div class="title2">
						Round {{ currentRound }}
					</div>
				</ion-col>
				<ion-col col-sm-3 col-md-3 col-lg-1 *ngFor="let user of users | values | sortByDraftOrder: numberDrafted : true; let i=index" col-3>
					<div class="draft-bg draft-background-{{user?.draftOrder}}">
						<div class="draft-card" [ngClass]="{'me' : !!myId && user?.id == myId}">
							<div class="title" *ngIf="i==0">
								now picking
							</div>
							<div class="title" *ngIf="i==1">
								on deck
							</div>
							<div class="title" *ngIf="i>1">
								+ {{ i + 1 }}
							</div>

							<div class="name">
								{{ user.name }}
							</div>
						</div>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-title>
</template>
<template [ngIf]="isDraftComplete">
	<ion-title no-padding>
		<div class="page-title">{{ leagueName }}</div>
	</ion-title>
</template>