draft-header {
    .toolbar-title {
        padding: 0;
    }
    .draft-time {
        text-align: center;
        font-size: .8em;
        font-weight: 300;
    }
    .page-title {
        text-align: center;
        font-size: 1.6em;
        text-decoration: underline;
        font-weight: 100;
    }
    .draft-row {
        overflow: scroll;
    }
    .draft-title {
        text-align: center;
        .title1 {
            line-height: 1.4em;
            font-size: .7em;
            font-weight: 100;
        }
        .title2 {
            line-height: .8em;
            font-size: .9em;
            font-weight: 400;
        }
    }
	.draft-bg{
		margin: 2px;
        padding: 3px;
        border-radius: 5px;

		.draft-card {
	        border-radius: 5px;
			box-shadow: 1px 1px 5px $dusty-gray;
			background: $white ;
			color: $mine-shaft;
			text-align: center;
			overflow: hidden;
			.title {
				line-height: .7em;
				font-size: .6em;
				font-weight: 100;
				text-transform: lowercase;
				width: 100%;
				background: $white;
				color: $mine-shaft;
				padding: 2px 0;
			}
			.name {
				font-size: .8em;
				font-weight: 500;
			}
		}
		.draft-card.me {
			background:$mine-shaft ;
			color:  $white;
			.title{
				background: $mine-shaft;
				color: $white;				
			}
		}
	}
}