<ion-header>
    <ion-navbar color="modal">
        <ion-title center>Add Highlight</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="Click_Close()">
		        <ion-icon name="close"></ion-icon>
      		</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <ion-card>
        <ion-title no-padding>
            <div class="wrestler-title">
                <span class="wrestler-name">{{wrestler.first_name}} {{ wrestler.last_name}}</span>
                <span class="highlight" *ngIf="!!wrestler?.highlight" [ngStyle]="{'background-color' : wrestler?.highlight | highlightBg, 'color' : wrestler?.highlight | highlightText }">
					<ion-icon name='{{wrestler?.highlight | highlightIcon}}'></ion-icon>
				</span>
            </div>
        </ion-title>
        <ion-grid class="data-grid" no-padding>
            <ion-row>
                <ion-col col-6 *ngFor="let highlight of highlights">
                    <ion-card center>
                        <ion-title class="card-title">{{highlight.name}}</ion-title>
                        <div class="wrestler-note">
                            <button ion-button full class="highlight-button" (click)="Click_Highlight(highlight)" [ngStyle]="{'background-color' : highlight.color, 'color' : highlight.textColor }">
								<ion-icon name="{{highlight.icon}}"></ion-icon>
								Add Highlight
							</button>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer [ngClass]="{'use-close': !wrestler?.highlight}">
    <template [ngIf]="!wrestler?.highlight">
		<full-row-button class="close-button" buttonText="Close" buttonIcon="delete" (buttonClick)="Click_Close()">
		</full-row-button>
	</template>
    <template [ngIf]="!!wrestler?.highlight">
		<full-row-button buttonText="Remove Highlight" buttonIcon="delete" (buttonClick)="Click_RemoveHighlight()">
		</full-row-button>
	</template>

</ion-footer>