highlight-modal {
    .wrestler-title {
        text-align: center;
        font-size: 1.6em;
        text-decoration: underline;
        font-weight: 100;
        position: relative;
        .highlight {
            top: 0;
            right: 0;
            position: absolute;
            border-radius: 0px 4px 0px 5px;
            width: 37px;
            height: 37px;
            text-align: center;
            .icon {
                font-size: .9em;
            }
        }
    }
    .data-grid {
        text-align: center;
        ion-card {
            border-radius: 5px 0 0 5px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 10px;
            .card-title {
                font-size: 1em;
                font-weight: 300;
                padding-bottom: 10px;
				.toolbar-title{
					white-space: normal;
					overflow: auto;
				}
            }
            .wrestler-note {
                font-size: 2em;
                font-weight: 600;
                .highlight-button {
                    margin: 0;
                    .icon {
                        padding: 0 8px;
                        font-size: 2em;
                    }
                }
            }
        }
    }
    ion-footer.use-close {
        button {
            background-color: $mine-shaft;
        }
    }
}