<ion-grid class="group-grid" *ngIf="team?.length > 0">
	<ion-row class="group-row">
		<ion-col *ngIf="!!bgColorSlot" class="title draft-background-{{ bgColorSlot }}" col-12>
			<span class="name">
				{{ title }}
			</span>
		</ion-col>
		<ion-col *ngIf="!!titleTextColor" class="title" col-12 [ngStyle]="{'background-color' : titleBgColor, 'color' : titleTextColor}">
			<span class="highlight" *ngIf="!!icon">
				<ion-icon name="{{ icon }}"></ion-icon>
			</span>
			<span class="name">
				{{ title }}
			</span>
		</ion-col>
		
		<ion-col col-md-2 col-sm-3 class="wrestler" *ngFor="let wrestler of team">
			<div class="wrestler-card" (click)="wrestlerSelect.emit(wrestler)">
				<div class="weight">{{ wrestler?.weight }}</div>
				<div class="name-rank">
					<span class="rank">{{ wrestler?.rank }}</span>
					<span class="last-name">{{ wrestler?.last_name }}</span>
				</div>
				<div>
					<div class="record-school">
						<span class="record">{{ wrestler?.wins}}-{{wrestler?.losses}}</span>
						<span class="school">{{ wrestler?.school }} </span>
					</div>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>