wrestler-modal {
    ion-footer two-buttons .button-1 {
        background-color: $dodger-blue;
    }
    ion-footer two-buttons .button-2 {
        background-color: $mine-shaft;
    }
    ion-footer full-row-button.admin-button button.bottom-whole {
        background-color: $scorpion;
    }
    ion-footer full-row-button.select-button button.bottom-whole {
        background-color: $fruit-salad;
    }
	.big-card{
		.toolbar-title{
			padding: 0;
		}
	}
    .cannot-select {
        color: $white;
        background: $mandy;
        font-size: .7em;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        border: solid 1px $mine-shaft;
        font-family: Noto Sans;
        .cannot-reason {
            font-size: .6em;
        }
    }
    .wrestler-title {
        text-align: center;
        font-size: 1.6em;
        text-decoration: underline;
        font-weight: 100;
		line-height: 2em;
        position: relative;
        .highlight {
            top: 0;
            right: 0;
            position: absolute;
            border-radius: 0px 4px 0px 5px;
            width: 37px;
            height: 37px;
            text-align: center;
            .icon {
                font-size: .9em;
            }
        }
        .score {
			padding: 0 12px;
            top: 0;
            right: 0;
            position: absolute;
            border-radius: 0px 4px 0px 5px;
			background: $mine-shaft;
			color: $white;
            text-align: center;
        }

        .wrester-rank {
            font-size: 1.4em;
            font-weight: 300;
        }
    }
    .data-grid {
        text-align: center;
        ion-card {
            border-radius: 5px;
            .card-title {
                border-bottom: 1px solid $mine-shaft;
                .toolbar-title {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
            .wrestler-note {
                padding: 10px 0;
                font-size: 2em;
                font-weight: 600;
            }
        }

		.match-row{			
			.mine{
				background: $mine-shaft;
				border-radius: 10px;
			}
			.small-margin {
				overflow: hidden;
				margin: 3px;
				width: calc(100% - 6px);
				.match-title{
					font-size: 1.2em;
				}
				.match-desc{ 
					font-size: .9em;
					font-weight: 500;
					overflow:hidden;
					white-space: nowrap;
				}
			}
		}
    }
}