<ion-header>
	<ion-navbar color="modal">
		<ion-title center>Wrestler Detail</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="Click_Close()">
		        <ion-icon name="close"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
	<ion-card class="big-card">
		<ion-title no-padding>
			<div class="wrestler-title">
				<span class="wrestler-name">{{wrestler.first_name}} {{ wrestler.last_name}}</span>
				<span class="highlight" *ngIf="!!wrestler?.highlight && !($isDraftComplete | async)" [ngStyle]="{'background-color' : wrestler?.highlight | highlightBg, 'color' : wrestler?.highlight | highlightText }">
					<ion-icon name='{{wrestler?.highlight | highlightIcon}}'></ion-icon>
				</span>
				<span class="score" *ngIf="($isDraftComplete | async)">
					{{wrestler | totalScore}} pts
				</span>
			</div>
			<div class="cannot-select" *ngIf="!ruleCheck.passes && !($isDraftComplete | async)">
				<div class="cannot-title"> WARNING: Not Available</div>
				<div class="cannot-reason">{{ ruleCheck.reasons[0]}}</div>
			</div>
		</ion-title>
		<ion-grid class="data-grid" *ngIf="($isDraftComplete | async)">			
			<ion-row class="match-row" *ngFor="let match of wrestler?.matches | reverseMatchOrder">
				<ion-col no-padding col-3>
					<ion-card class="small-margin">
						<ion-title class="match-title">Round</ion-title>
						<div class="match-note">
							<span class="match-desc">{{match.matchDesc | roundToString }}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col no-padding col-3 [ngClass]="{'mine': match.winner.indexOf(wrestler.last_name) >= 0}">
					<ion-card class="small-margin" (click)="Click_OpenWrestler(match.winner)">
						<ion-title class="match-title">Winner</ion-title>
						<div class="match-note">
							<span class="match-desc">{{match.winner | justName}}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col no-padding col-3 [ngClass]="{'mine': match.loser.indexOf(wrestler.last_name) >= 0}">
					<ion-card class="small-margin" (click)="Click_OpenWrestler(match.loser)">
						<ion-title class="match-title">Loser</ion-title>
						<div class="match-note">
							<span class="match-desc">{{match.loser | justName}}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col no-padding col-2>
					<ion-card class="small-margin">
						<ion-title class="match-title">Dec</ion-title>
						<div class="match-note">
							<span class="match-desc">{{match.result | stripParens }}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col no-padding col-1 >
					<ion-card class="small-margin">
						<ion-title class="match-title">+</ion-title>
						<div class="match-note">
							<span class="match-desc">{{ match.teamPoints }} pts</span>
						</div>
					</ion-card>
				</ion-col>

			</ion-row>
		</ion-grid>

		<ion-grid class="data-grid" no-padding *ngIf="!($isDraftComplete | async)">
			<ion-row>
				<ion-col col-6>
					<ion-card>
						<ion-title class="card-title">Weight</ion-title>
						<div class="wrestler-note">
							<span class="wrestler-weight card-desc">{{wrestler.weight}}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col col-6>
					<ion-card>
						<ion-title class="card-title">Rank</ion-title>
						<div class="wrestler-note">
							<span class="wrestler-weight card-desc"> {{wrestler.rank}}</span>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<ion-card>
						<ion-title class="card-title">School</ion-title>
						<div class="wrestler-note">
							<span class="wrestler-weight card-desc">{{wrestler.school}}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col col-6>
					<ion-card>
						<ion-title class="card-title">Record</ion-title>
						<div class="wrestler-note">
							<span class="wrestler-weight card-desc"> {{wrestler.wins}}-{{wrestler.losses}}</span>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<ion-card>
						<ion-title class="card-title">Conference</ion-title>
						<div class="wrestler-note">
							<span class="wrestler-weight card-desc">{{wrestler.conf}}</span>
						</div>
					</ion-card>
				</ion-col>
				<ion-col col-6>
					<ion-card>
						<ion-title class="card-title">RPI</ion-title>
						<div class="wrestler-note">
							<span class="wrestler-weight card-desc" *ngIf="!!wrestler.rpi"> {{wrestler.rpi}}</span>
							<span class="wrestler-weight card-desc" *ngIf="!wrestler.rpi"> NR </span>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>

		</ion-grid>
	</ion-card>

</ion-content>
<ion-footer *ngIf="!($isDraftComplete | async)">
	<template [ngIf]="!($isDrafting | async)">
		<template [ngIf]="!!wrestler?.highlight">
			<two-buttons buttonLeftText="Edit Highlight" buttonLeftIcon="create" (buttonLeftClick)="Click_AddHighlightToWrestler()" buttonRightText="Cancel"
			 buttonRightIcon="close" (buttonRightClick)="Click_Close()">
			</two-buttons>
		</template>
		<template [ngIf]="!wrestler?.highlight">
			<two-buttons buttonLeftText="Add Highlight" buttonLeftIcon="add-circle" (buttonLeftClick)="Click_AddHighlightToWrestler()"
			 buttonRightText="Cancel" buttonRightIcon="close" (buttonRightClick)="Click_Close()">
			</two-buttons>
		</template>
	</template>
	<template [ngIf]="($isDrafting | async)">
		<full-row-button class="admin-button" *ngIf="($isAdmin | async)" buttonText="ADMIN SELECT FOR CURRENT USER" buttonIcon="lock"
		 (buttonClick)="Click_AddWrestlerToTeamByAdmin()">
		</full-row-button>
		<full-row-button class="select-button" [buttonDisabled]="!($isMyTurn | async)" buttonText="SELECT WRESTLER" buttonIcon="add-circle"
		 (buttonClick)="Click_AddWrestlerToTeam()">
		</full-row-button>
		<template [ngIf]="!!wrestler?.highlight">
			<two-buttons buttonLeftText="Edit Highlight" buttonLeftIcon="create" (buttonLeftClick)="Click_AddHighlightToWrestler()" buttonRightText="Cancel"
			 buttonRightIcon="close" (buttonRightClick)="Click_Close()">
			</two-buttons>
		</template>
		<template [ngIf]="!wrestler?.highlight">
			<two-buttons buttonLeftText="Add Highlight" buttonLeftIcon="add-circle" (buttonLeftClick)="Click_AddHighlightToWrestler()"
			 buttonRightText="Cancel" buttonRightIcon="close" (buttonRightClick)="Click_Close()">
			</two-buttons>
		</template>
	</template>
</ion-footer>