$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$dodger-blue: #387ef5;
$bondi-blue: #00b0b3;
$beaker-bay: #5f9ea0;
$cyan: #24fbff;
$alto: #ddd;
$white: #fff;
$quill-gray: #d6d5d3;
$delta: #b0b0ae;
$silver-chalice: #a6a6a6;
$gray: #8e8e8e;
$scorpion: #595959;
$tundora: #444;
$tuna: #383838;
$mine-shaft: #363636;
$mine-shaft-dark: #222;
$dove-gray: #626262;
$dusty-gray: #969696;
$cod-gray: #111;
$black: #000;
$flush-orange: #ff7300;
$noble: #b7b7b7;
$mercury: #e8e8e8;
$sunglow: #ffc240;
$wild-sand: #f6f6f6;
$fruit-salad: #4e9948;
$rose-fog: #e7b6b7;
$mandy: #e95d60;

$draft1: #304ffe;
$draft4: #1a237e;
$draft7: #5c6bc0;

$draft2: #ff3d00;
$draft5: #ff5722;
$draft8: #bf360c;

$draft3: #263238;
$draft6: #455a64;
$draft9: #78909c;

$draft10: #311b92;

$draft11: #3e2723;
$draft14: #795548;
$draft17: #a1887f;

$draft12: #004d40;
$draft15: #009688;
$draft18: #00796b;

$draft13: #f44336;
$draft16: #d50000;
$draft19: #b71c1c;

$draft20: #4527a0;



