<ion-content>
	<ion-fab bottom right>
		<button ion-fab mini><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab (click)="Click_ClickHideSelectedWrestlers()"><ion-icon name="contacts"></ion-icon></button>
			<button ion-fab (click)="Click_ClickHideMySelectedWeights()"><ion-icon name="remove-circle"></ion-icon></button>
			<button *ngIf="($isAdmin | async)" ion-fab (click)="Click_ClickAdminHideAll()"><ion-icon name="bug"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>

	<div class="all-wrestlers">
		<template ngFor let-weight [ngForOf]="allWeights">
			<div class="full-weight" *ngIf="!(isHidingMyWeight && !!myTeam[weight]) && !(isAdminHide && !!currentTeam[weight]) ">
				<div class="weight-title" (click)="Click_OpenWeight(weight)">
					{{ weight }}
				</div>
				<ul class="wrestler-list">
					<template ngFor let-wrestler [ngForOf]="showWrestlersByWeight[weight]">
						<li class="wrestler" *ngIf="!(isHidingSelected && !!wrestler.selected)" [ngClass]="{'selected': wrestler.selected, 'mine' : wrestler.selected?.draftedById === myId }" >
							<div *ngIf="!wrestler.selected" (click)="Click_OpenWrestler(wrestler)">
								<div class="name-rank">
									<span class="highlight" *ngIf="!!wrestler?.highlight && !($isDraftComplete | async)" [ngStyle]="{'background-color' : wrestler?.highlight | highlightBg, 'color' : wrestler?.highlight | highlightText }">
										<ion-icon name='{{wrestler?.highlight | highlightIcon}}'></ion-icon>
									</span>
									<span class="score" *ngIf="($isDraftComplete | async)">
										{{ wrestler | totalScore }}
									</span>
									<span class="rank" *ngIf="wrestler.rank <= 16">{{ wrestler.rank}}</span>
									<span class="last-name">{{wrestler.last_name}}</span>
								</div>
								<div class="first-name-record">
									<span class="first-name">{{wrestler.first_name}}</span>
									<span class="record">{{wrestler.wins}}-{{wrestler.losses}}</span>
								</div>
								<div class="school-group">
									<span class="school">{{wrestler.school}}</span>
								</div>
							</div>
							<div *ngIf="!!wrestler.selected" class="drafted" (click)="Click_OpenWrestler(wrestler)">
								<span class="score" *ngIf="($isDraftComplete | async)">
									{{ wrestler | totalScore }}
								</span>
								<div class="name-rank selected">
									<span class="rank">{{ wrestler.rank}}</span>
									<span class="last-name">{{wrestler.last_name}}</span>
								</div>
								<div class="drafted-by ">
									<div class="color-mark draft-background-{{ wrestler.selected?.draftedByOrderSlot }}"></div>
									<span class="drafter-name">{{ wrestler.selected.draftedByName }}</span>
								</div>
							</div>

						</li>
					</template>
					<li *ngIf="!IsShowingAll(weight)" class="show-button">
						<button ion-button small icon-left (click)="Click_ShowAll(weight)">
							<ion-icon name='add'></ion-icon>
								Show All
						</button>
					</li>
				</ul>
			</div>
		</template>
	</div>
</ion-content>