page-join-league {
	.headerTitle{
		font-family: "Noto Sans";
		font-weight: 900;
		font-size: 2.2rem;
		text-align: center;
		color: #5a5a5a;
		text-shadow: 1px 1px 1px #cccccc;
		text-transform: uppercase;
		margin: 0 30px;
		/* height: 25vh; */
		padding-top: 10px;
	}
	.small-question{
		text-align: center;
	}
	.desc{
		padding: 20px 20px 30px 20px;
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: #333333;
		text-shadow: 1px 1px 2px white;
		font-weight: 800;
		text-align: center;
	}
	.small{
		font-weight: 100;
		font-size: 1.2rem;
	}
	.button1{
		background-color: color($colors, private);
	}
	.button2{
		background-color: color($colors, public);
	}

}
