// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.no-padding{ padding: 0; }

[scrollbar-y-auto] .scroll-content {
  overflow-y: auto !important;
}

.draft-background-0 { background-color: $draft19 !important;}

.draft-background-1 { background-color: $draft1 !important;}
.draft-background-4 { background-color: $draft4 !important;}
.draft-background-7 { background-color: $draft7 !important;}

.draft-background-2 { background-color: $draft2 !important;}
.draft-background-5 { background-color: $draft5 !important;}
.draft-background-8 { background-color: $draft8 !important;}

.draft-background-3 { background-color: $draft3 !important;}
.draft-background-6 { background-color: $draft6 !important;}
.draft-background-9 { background-color: $draft9 !important;}

.draft-background-10 { background-color: $draft10 !important;}

.draft-background-11 { background-color: $draft11 !important;}
.draft-background-14 { background-color: $draft14 !important;}
.draft-background-17 { background-color: $draft17 !important;}

.draft-background-12 { background-color: $draft12 !important;}
.draft-background-15 { background-color: $draft15 !important;}
.draft-background-18 { background-color: $draft18 !important;}

.draft-background-13 { background-color: $draft13 !important;}
.draft-background-16 { background-color: $draft16 !important;}
.draft-background-19 { background-color: $draft19 !important;}

.draft-background-20 { background-color: $draft20 !important;}
