page-league {
    .card {
		.team-score{
			top: 0;						
			right: 0;
			z-index: 199;
			position: absolute;
			padding: 10px;
			border-radius: 0px 4px 0px 5px;
			text-align: center;
			color: $white;
			font-weight: 500;
			font-size: 2rem;
			
		}
        .bottom-row {
            margin-top: 6px;
            line-height: 1.5em;
            button {
                color: $white;
            }
			ion-note{
				color: $white;
			}
        }
    }
    .wrestler {
        text-align: center;
        .wrestler-card {
            min-width: 100px;
            max-width: 100px;
            border-radius: 2px;
            color: $mine-shaft-dark;
            overflow: hidden;
			margin: auto;
			padding: 10px 0;
			.weight {
                white-space: nowrap;
                font-size: .8em;
                font-weight: 500;
                border-bottom: 1px solid $silver-chalice;
            }
            .name-rank {
                background: $white;
                color: $mine-shaft;
                white-space: nowrap;
                font-size: 1em;
                font-weight: 500;
                font-family: Roboto;
                text-transform: uppercase;
                line-height: 1em;
                padding: 4px 0;
                .rank {
                    font-weight: 100;
                }
            }
            .record-school {
                background: $white;
                color: $mine-shaft;
                text-align: left;
                line-height: 1em;
                font-size: .7em;
                font-weight: 500;
                .first-name {
                    padding-left: 2px;
                }
                .record {
                    float: right;
                    padding-right: 2px;
                }
                .school {
                    text-transform: lowercase;
                    padding-left: 2px;
                }
            }
        }
    }
}