page-account {
    ion-footer two-buttons .button-1 {
        background-color: #3B444B;
    }
    ion-footer two-buttons .button-2 {
        background-color: #8699A2;
    }
    ion-footer full-row-button .button {
        background-color: color($colors, create);
    }
    ion-card {
        .desc {
            padding: 8px;
            font-size: 1.1em;
            font-weight: 500;
        }
        .league-name {
            font-family: Noto Sans;
            font-size: 2.4rem;
            font-weight: 900;
            color: #222222;
            text-shadow: 1px 1px 1px #aaaaaa;
        }
        .button-row {
            background: #f1f1f1;
        }
        .card-content {
            padding: 0;
        }
        .league-date {
            font-family: Roboto;
            font-weight: 400;
            font-size: 1.1rem;
            text-transform: lowercase;
            .dynamic-text {
                font-family: Noto Sans;
                padding-left: 5px;
                font-size: 1.1rem;
                font-weight: 600;
                color: black;
                text-transform: uppercase;
            }
        }
        ion-col {
            overflow: hidden;
        }
        .admin-col {
            text-align: center;
        }
        .txt-right {
            text-align: right;
        }
    }
}