<ion-header>
    <ion-navbar color="account">
        <ion-title text-center>
            My Leagues
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-card *ngIf="(($myInfo | async)?.leagues_ref | values)?.length === 0">
        <ion-card-content>
            <ion-item>
                <div class="desc">Your league list will be here</div>
                <div class="desc">To begin: </div>
                <div class="desc">Step 1: Join or Create a league</div>
                <div class="desc">Step 2: Before the draft highlight any notable wrestlers</div>
                <div class="desc">Step 3: Draft by selecting any wrestler</div>
                <div class="desc">Rules: One wrestler per weight class</div>
                <div class="desc">Rules: One extra unranked wrestler at any weight class</div>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let league of ($myInfo | async)?.leagues_ref | values; let i=index;">
        <ion-card-content>
            <ion-card-title>
                <ion-item>
                    <ion-avatar item-left>
                        <user-graphic letter1="{{ league?.leagueName[0] }}" letter2="{{ league?.leagueName[1] }}" colorVal="{{ i + 1 }}"></user-graphic>
                    </ion-avatar>
                    <h2 class="league-name">{{league?.leagueName}}</h2>
                    <div class="league-date">Draft Date: <span class="dynamic-text">{{league?.draftDate | date }}</span></div>
                    <div class="league-date">Creator: <span class="dynamic-text">{{league?.creator }} </span></div>
                </ion-item>
            </ion-card-title>
        </ion-card-content>

        <ion-row no-padding class="button-row">
            <ion-col col-4>
                <button ion-button clear small color="danger" icon-left (click)="Click_OpenLeague(league)">
					<ion-icon name='home'></ion-icon>
					League Home
				</button>
            </ion-col>
            <ion-col col-4 class="admin-col">
                <button *ngIf="league?.creatorId === ($myInfo | async)?.id" ion-button clear small color="danger" icon-left (click)="Click_OpenAdmin(league)">
					<ion-icon name='settings'></ion-icon>
					Admin
				</button>
            </ion-col>
            <ion-col class="txt-right" col-4>
                <button ion-button clear small color="danger" icon-left>
					<ion-icon name='share-alt'></ion-icon>
					Share
				</button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
<ion-footer>
    <full-row-button buttonText="Join League" buttonIcon="add-circle" (buttonClick)="Click_JoinLeague()">
    </full-row-button>
    <two-buttons buttonLeftText="Logout" buttonLeftIcon="log-out" (buttonLeftClick)="Click_Logout()" buttonRightText="Donate" buttonRightIcon="beer" (buttonRightClick)="Click_Donate()"></two-buttons>
</ion-footer>