<ion-grid class="group-grid" *ngIf="team?.length > 0">
	<ion-row class="group-row">
		<ion-col *ngIf="!!bgColorSlot" class="title draft-background-{{ bgColorSlot }}" col-12>
			<span class="name">
				{{ title }} (+{{ team | totalTeamScore }} points)
			</span>
		</ion-col>
		<ion-col *ngIf="!!titleTextColor" class="title" col-12 [ngStyle]="{'background-color' : titleBgColor, 'color' : titleTextColor}">
			<span class="highlight" *ngIf="!!icon">
				<ion-icon name="{{ icon }}"></ion-icon>
			</span>
			<span class="name">
				{{ title }} (+{{ team | totalTeamScore }} points)
			</span>
		</ion-col>
		
		<ion-col col-xl-1 col-md-2 col-sm-3 class="wrestler" *ngFor="let weight of weights">
			<div *ngIf="!!teamByWeight[weight]">
				<div class="wrestler-card" (click)="wrestlerSelect.emit(teamByWeight[weight])">
					<div class="weight">{{ weight }} (+{{ teamByWeight[weight] | totalScore  }})</div>
					<div class="name-rank">
						<span class="rank">{{ teamByWeight[weight]?.rank }}</span>
						<span class="last-name">{{ teamByWeight[weight]?.last_name }}</span>
					</div>
					<div>
						<div class="record-school">
							<span class="record">{{ teamByWeight[weight]?.wins}}-{{teamByWeight[weight]?.losses}}</span>
							<span class="school">{{ teamByWeight[weight]?.school }} </span>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="!teamByWeight[weight]">
				<div class="wrestler-card" (click)="weightSelect.emit(weight)">
					<div class="weight">{{ weight }}</div>
					<div class="open-group">
						<span class="open"> open </span>
					</div>
				</div>
			</div>
		</ion-col>
		<ion-col col-xl-1 col-md-2 col-sm-3 class="wrestler" >
			<div class="wrestler-card" (click)="wrestlerSelect.emit(teamByWeight['extra'])">
				<div class="weight">11th Man  (+{{ teamByWeight['extra'] | totalScore  }})</div>
				<div class="open-group" *ngIf="!teamByWeight['extra']">
					<span class="open"> open </span>
				</div>
				<div *ngIf="!!teamByWeight['extra']">
					<div class="name-rank">
						<span class="rank">{{ teamByWeight['extra']?.rank }}</span>
						<span class="last-name">{{ teamByWeight['extra']?.last_name }}</span>
					</div>
					<div>
						<div class="record-school">
							<span class="record">{{ teamByWeight['extra']?.wins}}-{{teamByWeight['extra']?.losses}}</span>
							<span class="school">{{ teamByWeight['extra']?.school }} </span>
						</div>
					</div>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>

