<!--
  Generated template for the CreateLeague page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="create">
		<ion-title>Create New League</ion-title>
	</ion-navbar>

</ion-header>


<ion-content class="no-padding">
	<div class="headerTitle">Select League Classification</div>
	<ion-grid>
		<ion-row>
			<ion-col class="desc">
				<div class="title">PRIVATE LEAGUES</div>
				<div class="small">Leagues that require a league name and password to join.</div>
			</ion-col>
			<ion-col class="desc">
				<div class="title">PUBLIC LEAGUES</div>
				<div class="small">Leagues that are open to anyone!</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<two-big-buttons 
		bigButtonTopText="Create Private" (bigButtonTopClick)="Click_Private()" bigButtonTopIcon="lock"
		bigButtonBottomText="Create Public" (bigButtonBottomClick)="Click_Public()" bigButtonBottomIcon="unlock"
		helpButtonText="Questions?" (helpButton)="Click_Questions()">
	</two-big-buttons>

</ion-content>