page-create-private {

	.button-row{
		text-align: center;
	}
	.helper-text{
		padding: 50px 20px 30px 20px;
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: #333333;
		text-shadow: 1px 1px 2px white;
		font-weight: 800;
		text-align: center;
	}

	.scroll-content {
		padding-bottom: 0 !important;
	}

	.error-text{
		font-size: 1.1rem;
		font-family: Roboto;
		text-transform: uppercase;
		color: #ff9292;
	}
}
