<ion-header>
	<ion-navbar color="private">
		<ion-title>Creating A Private League</ion-title>
	</ion-navbar>
</ion-header>


<ion-content fixed no-padding>
	<form [formGroup]="createForm" (ngSubmit)="Click_CreateLeague()">
		<div class="helper-text"> Set the League Name and<br>Password to Create a League</div>
		<ion-list>

			<ion-item>
				<ion-label floating>
					League Name
					<span class="error-text" *ngIf="formErrors.leagueName.length > 0"> ** {{ formErrors.leagueName }} ** </span>
				</ion-label>
				<ion-input type="text" formControlName="leagueName"></ion-input>
			</ion-item>


			<ion-item>
				<ion-label floating>
					Create Password
					<span class="error-text" *ngIf="formErrors.password.length > 0"> ** {{ formErrors.password }} ** </span>
				</ion-label>
				<ion-input type="text" formControlName="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>
					Verify Password
					<span class="error-text" *ngIf="formErrors.verify.length > 0"> ** {{ formErrors.verify }} ** </span>
				</ion-label>
				<ion-input type="text" formControlName="verify"></ion-input>
			</ion-item>

			<ion-item class="button-row">			
				<button ion-button type="submit" [disabled]="!createForm.valid">
					Create League
				</button>
			</ion-item>

			<div class="error-text" *ngIf="!!errorText">
				<div>{{errorText}}</div>
				<div>{{errorText2}}</div>
			</div>

		</ion-list>
	</form>
</ion-content>