ion-tabs.large-header {
    ion-tab div.scroll-content {
        margin-top: 55px;
        margin-bottom: 60px;
    }
}

ion-tabs.small-header {
    ion-tab div.scroll-content {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

ion-tabs {
    div.tabbar {
        a.tab-button:nth-child(4) {
            background: $draft6;
            color: $mercury;
            border-left: solid 2px lighten($draft6, 25%);
            ion-icon {
                color: $mercury;
            }
        }
        .tab-button[aria-selected=true] {
            //font-size: 1.2em;
            ion-icon {
                font-size: 2.5em;
                line-height: 1em;
            }
            .tab-button-text {
                padding-top: 0;
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    ion-tab div.scroll-content {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    ion-tabs {
        div.tabbar {
            a.tab-button:nth-child(4) {
                background: $draft6;
                color: $mercury;
                border-left: solid 4px lighten($draft6, 25%);
                ion-icon {
                    color: $mercury;
                }
            }
            .tab-button {
                min-height: 4rem;
                ion-icon {
                    font-size: 1em;
                    line-height: 1em;
                }
                .tab-button-text {
                    padding-top: 0;
                    margin-top: 0;
                }
            }
            .tab-button[aria-selected=true] {
                background: $white;
                ion-icon {
                    font-size: 1em;
                    line-height: 1em;
                }
                .tab-button-text {
                    padding-top: 0;
                    margin-top: 0;
                }
            }
        }
    }
}