<ion-header>
    <draft-header 
		[leagueName]="($currentLeague | async)?.name" 
		[users]="($users | async)" [myId]="($myId | async)" 
		[isDrafting]="($isDrafting | async)" 
		[isDraftComplete]="($isDraftComplete | async)" 
		[timeTillDraftInMS]="($timeTillDraftInMS | async)" 
		[numberDrafted]="($numberDrafted | async)" 
		[currentRound]="($currentRound | async)">
    </draft-header>
</ion-header>
<ion-tabs #myTabs [ngClass]="{ 'small-header' : !($isDrafting | async), 'large-header': ($isDrafting | async)  }">
    <ion-tab [root]="tab1Root" tabTitle="League" tabIcon="people"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Wrestlers" tabIcon="ribbon" ></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="My Team" tabIcon="contact"></ion-tab>
    <ion-tab class="leagues-tab" tabTitle="My Leagues" tabIcon="game-controller-a" (ionSelect)="Click_Dashboard()" class="home"></ion-tab>
</ion-tabs>