three-big-buttons {
	.grid-bottom{
		bottom:0;
		position: absolute;
		.big-third{
			height: 200px;
			max-height: 50vh;
			width: 100%;
			font-size: 2.5rem;
			text-shadow: 2px 2px 2px black;
			text-transform: capitalize;
		}

		.subtle{
			text-align: center;
			padding:12px 0;
		}
	}
}
