<ion-grid class="no-padding grid-bottom">
    <ion-row>
        <ion-col col-4 class="no-padding">
            <button *ngIf="!!button1Text" class="big-third button-one" (click)="button1.emit()"> 
				{{button1Text}}
			</button>
            <button *ngIf="!!button1Icon" class="big-third button-one" (click)="button1.emit()"> 
				<ion-icon name="{{button1Icon}}"></ion-icon>
			</button>
        </ion-col>
        <ion-col col-4 class="no-padding">
            <button *ngIf="!!button2Text" class="big-third button-two" (click)="button2.emit()"> 
				{{button2Text}}
			</button>
            <button *ngIf="!!button2Icon" class="big-third button-two" (click)="button2.emit()"> 
				<ion-icon name="{{button2Icon}}"></ion-icon>
			</button>
        </ion-col>
        <ion-col col-4 class="no-padding">
            <button *ngIf="!!button3Text" class="big-third button-three" (click)="button3.emit()"> 
				{{button3Text}}
			</button>
            <button *ngIf="!!button3Icon" class="big-third button-three" (click)="button3.emit()"> 
				<ion-icon name="{{button3Icon}}"></ion-icon>
			</button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!!helpButtonText">
        <ion-col col-12 class="no-padding subtle">
            <button ion-button small (click)="helpButton.emit()"> 
				{{helpButtonText}}
			</button>
        </ion-col>
    </ion-row>
</ion-grid>