<!--
  Generated template for the LoginModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="modal">
		<ion-title center>LOGIN</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="Click_Close()">
		        <ion-icon name="close"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
	<div class="headerTitle">You have to be logged in to proceed.</div>
	<div class="headerDesc">Please use one of the following social logins.</div>
	<three-big-buttons button1Icon="logo-facebook" (button1)="Click_Facebook()" button2Icon="logo-googleplus" (button2)="Click_Google()"
		button3Icon="logo-twitter" (button3)="Click_Twitter()">
	</three-big-buttons>

</ion-content>