page-login-modal {
    three-big-buttons {
        .button-one {
            background-color: lighten(#3b589c, 15%);
            color: $white;
        }
        .button-two {
            background-color: lighten(#d64a39, 15%);
            color: $white;
        }
        .button-three {
            background-color: lighten(#00acee, 15%);
            color: $white;
        }
    }
    .headerTitle {
        font-family: "Noto Sans";
        font-weight: 900;
        font-size: 1.5rem;
        text-align: center;
        color: black;
        text-shadow: 1px 1px 1px #cccccc;
        margin: 0 30px;
        padding-top: 10vh;
    }
    .headerDesc {
        font-family: "Noto Sans";
        font-weight: 100;
        font-size: 1.2rem;
        text-align: center;
        color: black;
        text-shadow: 1px 1px 1px #cccccc;
        margin: 0 30px;
        padding-top: 5vh;
    }
}