two-buttons {
    .little-half {
        width: 100%;
        font-size: 1.7rem;
        text-shadow: 1px 1px 1px black;
        text-transform: uppercase;
        margin: 0;
        border-radius: 0;
        padding: 20px 0;
        ion-icon {
            padding: 0 10px;
        }
    }
}