<ion-row *ngIf="!!buttonLeftText">
    <ion-col txt-center col-6 class="no-padding">
        <button [disabled]="buttonLeftDisabled" ion-button class="disable-hover little-half little-button-1 button-1" (click)="buttonLeftClick.emit()">
				<ion-icon *ngIf="!!buttonLeftIcon" name="{{buttonLeftIcon}}"></ion-icon>
				{{ buttonLeftText }}
			</button>
    </ion-col>
    <ion-col txt-center col-6 class="no-padding">
        <button [disabled]="buttonRightDisabled" ion-button class="disable-hover little-half little-button-2 button-2" (click)="buttonRightClick.emit()">
				<ion-icon *ngIf="!!buttonRightIcon" name="{{buttonRightIcon}}"></ion-icon>
				{{ buttonRightText }}
			</button>
    </ion-col>
</ion-row>