<ion-content class="no-padding">
    <div class="header">
        <div>College Wrestling</div>
        <div> Fantasy Game</div>
    </div>
    <div class="subheader"> Join a League. Draft your team. WIN!</div>

<ion-grid class="no-padding">
    <ion-row>
        <ion-col col-12 class="no-padding moe-col">
            <button ion-button class="moeller" (click)="Click_OpenMoeller()"> 
				<ion-icon name="flash"></ion-icon>
				See MoellerDraft Results!
			</button>
        </ion-col>
    </ion-row>
</ion-grid>


    <div *ngIf="!((isAuth$ | async) | isLoggedIn)">
        <two-big-buttons bigButtonTopText="Join League" (bigButtonTopClick)="Click_Login_Then_Join()" bigButtonTopIcon="people" bigButtonBottomText="Create New League" (bigButtonBottomClick)="Click_Login_Then_Create()" bigButtonBottomIcon="add-circle" littleButtonLeftText="Login"
            (littleButtonLeftClick)="Click_Login()" littleButtonLeftIcon="log-in" littleButtonRightText="Donate" (littleButtonRightClick)="Click_Donate()" littleButtonRightIcon="beer">
        </two-big-buttons>
    </div>
    <div *ngIf="(isAuth$ | async) | isLoggedIn">
        <two-big-buttons bigButtonTopText="Join League" (bigButtonTopClick)="Click_Join()" bigButtonTopIcon="people" bigButtonBottomText="Create New League" (bigButtonBottomClick)="Click_Create()" bigButtonBottomIcon="add-circle" bottomButtonText="My Dashboard"
            (bottomButtonClick)="Click_Dashboard()" bottomButtonIcon="clipboard" littleButtonLeftText="Logout" (littleButtonLeftClick)="Click_Logout()" littleButtonLeftIcon="log-out" littleButtonRightText="Donate" (littleButtonRightClick)="Click_Donate()"
            littleButtonRightIcon="beer">
        </two-big-buttons>
    </div>

</ion-content>