page-home {
	.moe-col{
		text-align: center;
		padding-top: 10px;
		.moeller{
			margin: 10px;
			ion-icon{
				padding-right: 10px;
			}
		}
	}

	.header{
		font-family: "Noto Sans";
		font-weight: 900;
		font-size: 3rem;
		text-align: center;
		color: #6b6b6b;
		text-shadow: 1px 1px 2px #bdbdbd;
		text-transform: uppercase;
		margin: 0 30px;
		padding-top: 35px;
	}
	.member{
		text-align: center;
		font-family: "Noto Sans";
		font-weight: 100;
		font-size: 1.4rem;
		padding-top: 4vh;
	}
	.subheader{
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: #333333;
		text-shadow: 1px 1px 2px white;
		font-weight: 800;
		text-align: center;
		padding-top: 15px;
	}
	.button1{
		background-color: color($colors, join);
	}
	.button2{
		background-color: color($colors, create);
	}
	.little-button-1{
		background-color: color($colors, dark);
	}
	.little-button-2{
		background-color: color($colors, subtle);
	}
	.bottom-whole{
		background-color: #212121;
	}

}
