weight-modal {
	.wrestler-card {
		position: relative;
		.toolbar-title{
			padding: 0;
		}

		.wrestler-title {
			text-align: center;
			font-size: 1.6em;
			font-weight: 100;
			position: relative;
			.highlight {
				top: 0;
				right: 0;
				position: absolute;
				border-radius: 0px 4px 0px 5px;
				width: 37px;
				height: 37px;
				text-align: center;
				.icon {
					font-size: .9em;
				}
			}
			.wrester-rank {
				font-size: 1.4em;
				font-weight: 300;
			}
		}
		.wrestler-title.selected{
			text-decoration: line-through;
		}
		.bottom-right{
			position: absolute;
			bottom: 0;
			right:0;
			.add-wrestler{
				background-color: $fruit-salad;
				font-size: 1.0rem;
				height: 3rem;
			}
			.highlight-wrestler{
				background-color: $dodger-blue;
				font-size: 1.0rem;
				height: 3rem;
			}
		}
	}
}