<ion-header>
	<ion-navbar color="modal">
		<ion-title center text-center>Weight {{ weight }} </ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="Click_Close()">
		        <ion-icon name="close"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
	<ion-card class="wrestler-card" *ngFor="let wrestler of wrestlers">
		<ion-title no-padding>
			<div class="wrestler-title" [ngClass]="{'selected': (!!wrestler.selected)}">
				<span class="rank">{{wrestler.rank}}</span>
				<span class="wrestler-name">{{wrestler.first_name}} {{ wrestler.last_name}}</span>
				<span class="highlight" *ngIf="!!wrestler?.highlight" [ngStyle]="{'background-color' : wrestler?.highlight | highlightBg, 'color' : wrestler?.highlight | highlightText }">
					<ion-icon name='{{wrestler?.highlight | highlightIcon}}'></ion-icon>
				</span>
			</div>
		</ion-title>
		<ion-grid class="data-grid" padding>
			<ion-row>
				<ion-col col-6>
					<div class="wrestler-note">
						<span class="wrestler-weight card-desc">{{wrestler.school}}</span>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="wrestler-note">
						<span class="wrestler-weight card-desc"> {{wrestler.wins}}-{{wrestler.losses}}</span>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<div class="wrestler-note">
						<span class="wrestler-weight card-desc">{{wrestler.conf}}</span>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="wrestler-note">
						<span class="wrestler-weight card-desc" *ngIf="!!wrestler.rpi"> RPI: {{wrestler.rpi}}</span>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div class="bottom-right" *ngIf="(!wrestler.selected)">
			<button ion-button icon-only round class="add-wrestler" [disabled]="!($isMyTurn | async)" (click)="Click_AddWrestlerToTeam(wrestler)">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<!--<button ion-button icon-only round class="highlight-wrestler">
				<ion-icon name="star"></ion-icon>
			</button>-->
		</div>
	</ion-card>
</ion-content>