two-big-buttons {
    .grid-bottom {
        bottom: 0;
        position: absolute;
        .big-half {
            height: 100px;
            width: 100%;
            font-size: 2.5rem;
            text-shadow: 2px 2px 2px black;
            text-transform: capitalize;
            ion-icon {
                width: 100%;
            }
        }
        .button1 {
            color: white;
        }
        .button2 {
            color: white;
        }
        .help-button-col {
            text-align: center;
        }
    }
}