<ng-content></ng-content>
<ion-grid class="no-padding grid-bottom">
    <ion-row>
        <ion-col col-12 class="no-padding">
            <button class="big-half button1" (click)="bigButtonTopClick.emit()"> 
				<ion-icon col-12 *ngIf="!!bigButtonTopIcon" name="{{bigButtonTopIcon}}"></ion-icon>
				{{bigButtonTopText}}
			</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="no-padding">
            <button class="big-half button2" (click)="bigButtonBottomClick.emit()"> 
				<ion-icon col-12 *ngIf="!!bigButtonBottomIcon" name="{{bigButtonBottomIcon}}"></ion-icon>
				{{bigButtonBottomText}}
			</button>
        </ion-col>
    </ion-row>

    <template [ngIf]="!!bottomButtonText">
		<full-row-button 
			buttonText="{{bottomButtonText}}" buttonIcon="{{bottomButtonIcon}}" (buttonClick)="bottomButtonClick.emit()">
		</full-row-button>
	</template>
    <template [ngIf]="!!littleButtonLeftText">
		<two-buttons 
			buttonLeftText="{{littleButtonLeftText}}" buttonLeftIcon="{{littleButtonLeftIcon}}" (buttonLeftClick)="littleButtonLeftClick.emit()"
			buttonRightText="{{littleButtonRightText}}" buttonRightIcon="{{littleButtonRightIcon}}" (buttonRightClick)="littleButtonRightClick.emit()"
		></two-buttons>
	</template>
    <ion-row *ngIf="!!helpButtonText">
        <ion-col col-12 class="no-padding help-button-col">
            <button ion-button small (click)="helpButton.emit()" class="help-button"> 
				{{helpButtonText}}
			</button>
        </ion-col>
    </ion-row>
</ion-grid>