<ion-header>

    <ion-navbar color="public">
        <ion-title>Search Public Leagues</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="($leagues | async).length === 0">
        <p class="no-leagues">There are no available public leagues at the moment.</p>
        <button ion-button full color="create" icon-left class="create-button" (click)="Click_CreateLeague()"> 
			<ion-icon name='unlock'></ion-icon>
			Create New Public League
		</button>
    </div>
    <div *ngIf="($leagues | async).length > 0">
        <ion-searchbar (ionInput)="Input_FindLeagues($event)"></ion-searchbar>
        <ion-card *ngFor="let league of $leagues | async">
            <ion-card-content>
                <ion-card-title>
                    <ion-item>
                        <div item-left class="title-char">
                            <span class="ucase">{{ league.name[0] }}</span><span class="lcase">{{ league.name[1] }}</span>

                        </div>
                        <h2 class="league-name">{{league?.name}}</h2>
                        <div class="league-date">Draft Date: <span class="dynamic-text">{{league?.createDate | date }} at {{league?.createDate | date : 'shortTime' }}</span></div>
                        <div class="league-date">Creator: <span class="dynamic-text">{{league?.creator }} </span></div>
                    </ion-item>
                </ion-card-title>
            </ion-card-content>

            <ion-row no-padding class="button-row">
                <ion-col col-6 *ngIf="!(league | isLeagueMember : ($myInfo | async)?.id)">
                    <button ion-button clear small color="danger" icon-left (click)="Click_JoinLeague(league)">
						<ion-icon name='add'></ion-icon>
						Join
					</button>
                </ion-col>
                <ion-col col-6 *ngIf="(league | isLeagueMember : ($myInfo | async)?.id)">
                    <button ion-button clear small color="danger" icon-left (click)="Click_OpenLeague(league)">
						<ion-icon name='checkmark-circle'></ion-icon>
						MEMBER
					</button>
                </ion-col>
                <ion-col class="txt-right" col-6>
                    <button ion-button clear small color="danger" icon-left>
						<ion-icon name='share-alt'></ion-icon>
						Share
					</button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>