page-find-public {

	.no-leagues{
		font-family: Noto Sans;
		font-size: 2rem;
		margin: 0px 15px;
		padding: 20px 0;
		text-align: center;
		text-transform: uppercase;
	}
	.create-button{
		font-family: Roboto;
		height: 70px;
		width: 100%;
		font-size: 2.5rem;
		text-shadow: 2px 2px 2px $mine-shaft;
		text-transform: capitalize;
	}
	ion-card{
		.title-char{
			font-family: Roboto;
			font-size: 4.5rem;
			font-weight: 900;
			background: #124a00;
			color: white;
			text-transform: uppercase;
			border-radius: 13px;
			height: 53px;
			padding-right: 4px;
			padding-left: 4px;
			/* margin-left: -3px; */
			text-align: center;
			.lcase{
				text-transform: lowercase;
			}
			.ucase{
				text-transform: uppercase;
			}
		}
		
		.league-name{
			font-family: Noto Sans;
			font-size: 2.4rem;
			font-weight: 900;
			color: #222222;
			text-shadow: 1px 1px 1px #aaaaaa;
		}

		.button-row{
			background: #f1f1f1;
		}

		.card-content{
			padding: 0;
		}

		.league-date{
			font-family: Roboto;
			font-weight: 400;
			font-size: 1.1rem;
			text-transform: lowercase;
			.dynamic-text{
				font-family: Noto Sans;
				padding-left: 5px;
				font-size: 1.1rem;
				font-weight: 600;
				color: black;
				text-transform:uppercase;
			}
		}
		
		.txt-right{
			text-align: right;
		}

	}
}
