<ion-content>
    <ion-card class="card" *ngFor="let user of ($draftUsers | async) | values | sortByDraftOrder: ($draftData | async)?.numSelected">
        <ion-item>
            <ion-avatar item-left>
                <img *ngIf="!!user?.photo" src="{{ user?.photo }}">
                <user-graphic *ngIf="!user?.photo" letter1="{{ user?.name[0] }}" letter2="{{ user?.name[1] }}" colorVal="{{ user?.draftOrder }}"></user-graphic>
            </ion-avatar>
            <h2>{{ user.name }}</h2>
        </ion-item>


        <ion-card-content no-padding>
            <ion-grid no-padding>
                <wrestler-list-by-weight 
				[team]="((($liveDraftedTeams | async) | teamByKey: user?.key | values | wrestlersIdsToInfo ) | async)" 
				(wrestlerSelect)="Click_OpenWrestler($event)"
				(weightSelect)="Click_OpenWeight($event)">
                </wrestler-list-by-weight>
            </ion-grid>
        </ion-card-content>
        <ion-grid no-padding class="bottom-row draft-background-{{ user?.draftOrder }}">
            <ion-row no-padding>
                <ion-col col-6 center text-left>
                    <button ion-button icon-left clear small (click)="Expectations()">
			        <ion-icon name="information-circle"></ion-icon>
        			<div>View Information</div>
			    </button>
                </ion-col>
                <!--<ion-col col-sm-4 center text-center>
                    <button ion-button icon-left clear small (click)="Expectations()">
        			<ion-icon name="chatboxes"></ion-icon>
        			<div>Message</div>
		    	</button>
                </ion-col>-->
                <ion-col col-6 center text-right>
                    <ion-note>
                        Draft Position : {{ user.draftOrder + 1 }}
                    </ion-note>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>