page-create-public {
	.nothing-here{
	    height: calc(100vh - 100px);
		display: table;
		font-size: 3rem;
		font-family: Noto Sans;
		margin: auto;
		.center{
			display: table-cell;
			vertical-align: middle;
		}
	}

	.desc{
		padding: 20px 20px 30px 20px;
		font-family: "Noto Sans";
		font-size: 1.4rem;
		color: #333333;
		text-shadow: 1px 1px 2px white;
		font-weight: 800;
		text-align: center;
		.small{
			font-weight: 100;
			font-size: 1.2rem;
		}
	}
	.button-row{
		text-align: center;
	}
	.error-text{
		font-size: 1.1rem;
		font-family: Roboto;
		text-transform: uppercase;
		color: #ff9292;
	}
	.scroll-content {
		padding-bottom: 0 !important;
	}


}
