<!--
  Generated template for the CreatePublic page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="public">
		<ion-title>Create A Public League</ion-title>
	</ion-navbar>

</ion-header>


<ion-content no-padding>
	<form [formGroup]="createForm" (ngSubmit)="Click_CreateLeague()">
		<ion-row>
			<ion-col class="desc">
				<div class="title">Create a new Public league</div>
				<div class="small">Public leagues that are open to anyone! </div>
				<div class="small">Each user can create 1 public league. </div>
			</ion-col>
		</ion-row>
		<ion-list>
			<ion-item>
				<ion-label floating>
					League Name
					<span class="error-text" *ngIf="formErrors.leagueName.length > 0"> ** {{ formErrors.leagueName }} ** </span>
				</ion-label>
				<ion-input type="text" formControlName="leagueName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="primary" >Number of Participants</ion-label>
				<ion-select formControlName="leagueMaxMembers">
					<ion-option value="10">10</ion-option>
					<ion-option value="11">11</ion-option>
					<ion-option value="12">12</ion-option>
					<ion-option value="13">13</ion-option>
					<ion-option value="14">14</ion-option>
					<ion-option value="15">15</ion-option>
					<ion-option value="16">16</ion-option>
					<ion-option value="17">17</ion-option>
					<ion-option value="18">18</ion-option>
					<ion-option value="19">19</ion-option>
					<ion-option value="20">20</ion-option>
				</ion-select>
			</ion-item>
			<ion-item class="button-row">
				<button ion-button type="submit" [disabled]="!createForm.valid">
					Create League
				</button>
			</ion-item>
		</ion-list>
	</form>
</ion-content>