user-graphic {
	.title-char{
		font-family: Roboto;
		font-size: 4.2rem;
		font-weight: 900;
		background-color: $fruit-salad;
		color: $white;
		text-transform: capitalize;
		border-radius: 13px;
		text-align: center;
		padding: 5px;
		box-shadow: 2px 1px 5px $dusty-gray;
	}

}
